<footer class="footer py-4 mt-2 border-top">
    <div class="container">
        <div class="row">
            <h2 class="visually-hidden" id="links-to-additional-information-on-open-data">
                Links to additional information on open data
                <a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon=""
                    href="#links-to-additional-information-on-open-data"
                    style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
            </h2>
            <div class="col-md-4">
                <h3 class="h6" id="registration-in-nkod">
                    Registration in NKOD
                    <a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="" href="#registration-in-nkod"
                        style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
                </h3>
                <ul>
                    <li><a href="/formul%C3%A1%C5%99/dataset-registration">Register a dataset</a></li>
                    <li><a href="/formul%C3%A1%C5%99/local-catalog-registration">Register a new local catalog</a></li>
                </ul>
                <h3 class="h6" id="contacts">
                    Contacts
                    <a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="" href="#contacts"
                        style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
                </h3>
                <ul>
                    <li>National Open Data Coordinator: Radka&nbsp;Domanská</li>
                    <li>
                        E-mail:
                        <a href="mailto:otevrenadata@dia.gov.cz">otevrenadata@dia.gov.cz</a>
                    </li>
                    <li>
                        Phone:
                        <a href="tel:+420974817556">+420 974 817 556</a>
                    </li>
                    <li>
                        twitter:
                        <a href="https://twitter.com/otevrenadata">@otevrenadata</a>
                    </li>
                    <li>
                        <a href="https://dia.gov.cz/">Digital and Information Agency</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="h6" id="links">
                    Links
                    <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" href="#links"
                        style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
                </h3>
                <ul>
                    <li><a href="/news">News archive</a></li>
                    <li><a href="/datasets">National Open Data Catalog</a></li>
                    <li><a href="/datasets">List of datasets</a></li>
                    <li><a href="/publishers">List of publishers</a></li>
                    <li><a href="/datov%C3%A1-kvalita">Data quality</a></li>
                    <li><a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSdUaVaCITtmHdTGxsU5xPvdzIygOA7wHHaotPRPAbglCF3mpw/viewform">Suggest
                            data to be opened</a></li>
                    <li><a href="https://github.com/datagov-cz/data.gov.cz">Web on GitHub</a></li>
                    <li><a href="/prohl%C3%A1%C5%A1en%C3%AD-o-p%C5%99%C3%ADstupnosti">Declaration of accessibility (in
                            Czech)</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="h6" id="acknowledgements">Acknowledgements<a class="anchorjs-link " aria-label="Anchor"
                        data-anchorjs-icon="" href="#acknowledgements"
                        style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>
                <p>
                    This web was created thanks to the project OPZ number CZ.03.4.74/0.0/0.0/15_025/0004172 and is
                    further developed as part of the project OPZ number CZ.03.4.74/0.0/0.0/15_025/0013983. Increase in
                    the number of open data producers in the public administration publishing open data in the National
                    Open Data Catalogue was co-financed from Recovery and Resilience Facility.
                </p>
                <div class="bg-white shadow">
                    <img alt="Czech Recovery Plan" class="d-inline-block align-top img-fluid pr-2" id="npologo"
                        src="/assets/images/npo_en.webp" width="300">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                Unless stated otherwise, the copyrighted content present on this website (including sui generis database
                rights) is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
                Please attribute correctly and link to the licence when reusing the content.
            </div>
        </div>
    </div>
</footer>
