
.alright {
  color: var(--color-alright, #198754);
}

.warning {
  color: var(--color-warning, #ffc107);
}

.danger {
  color: var(--color-danger, #dc3545);
}

:has(>.quality) {
  display: flex;
  justify-content: space-between;
}

.quality {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.25rem;
}

.endpointUrl {
  display: flex;
  flex-direction: column;
}

.dataset-container .quality {
  margin-right: 1em;
}

.distribution-item-wrap .quality {
  margin-right: .5rem;
}

/* Legislation list. */

.legislation-list .element > ul {
  display: none;
}

/* Distributions. */

.flex-row > div {
  width: calc(50% - .5rem);
  margin: .25rem;
}

.distribution-item-wrap {
  border: 1px solid var(--gov-color-secondary-600);
  border-radius: 1em;
  height: 100%;
}

.distribution-item-wrap-column > div:first-of-type {
  padding: .25rem;
  border: 1px solid var(--gov-color-secondary-600);
  border-radius: .5em .5em 0 0;
}

.distribution-item-wrap-column ul {
  padding: 0;
  list-style-type: none;
}

.distribution-item-wrap-column ul li {
  padding: .25rem;
  border: 1px solid var(--gov-color-secondary-600);
  margin-top: -1px;
}

.distribution-item-wrap-column ul li:last-of-type {
  border-radius: 0 0 .5em .5em;
}

.distribution-container gov-grid gov-grid-item {
  margin-bottom: 1rem;
}

/* Section spacing. */

.distribution-container, .dataset-list-container, .application-list-container {
  margin-bottom: 1rem;
}

/* Applicable legislation modal. */

#legislation-list-modal ul li {
  margin: .5rem 0;
}
