.extended-search .time-coverage {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.extended-search .time-coverage gov-form-input {
  width: 10em;
}

.extended-search .time-coverage .time-inputs {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.extended-search .time-coverage .time-buttons {
  gap: 1em;
}
