/* Unify header with data portal style. */

.gov-header>gov-container {
  padding-top: 1rem;
}

/* Global styles. */

a {
  text-decoration: none;
}

.gov-header {
  margin-bottom: 1rem;
}

.gov-footer {
  margin-top: 2rem;
  padding-top: 1rem;
}

/* Custom component styles. */

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* General layout styles. */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-justify-end {
  display: flex;
  justify-content: end;
}

.gap-2 {
  gap: .5em;
}

.gap-4 {
  gap: 1em;
}

.inline {
  display: inline;
}

.x-large {
  font-size: x-large;
}

.m-1 {
  margin: .25rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: .5rem;
}
