.list {
  & .list-item {
    & a {
      text-decoration: none;

      & h3 {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem;
      }
    }
  }
}

/* Unify header with data portal style. */
.gov-header>gov-container {
  padding-top: 1rem;
}

.alright {
  color: #198754;
}

.warning {
  color: #ffc107
}

.danger {
  color: #dc3545
}

.dataset-detail a {
  text-decoration: none;
}

.distribution-list {
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.distribution-list .distribution {
  padding: .5em;
  border: 1px solid var(--gov-color-secondary-600);
  border-radius: 1em;
  margin: .25em .25em;
}

.distribution-list .distribution .distribution-column {
  display: flex;
  flex-direction: row;
}

.distribution-list .distribution .distribution-column>div {
  width: calc(50% - .5rem);
  margin: .25rem;

  >h5 {
    padding: .25rem;
    border: 1px solid var(--gov-color-secondary-600);
    border-radius: .5em .5em 0 0;
  }

  >ul {
    padding: 0;
    list-style-type: none;
  }

  >ul>li {
    padding: .25rem;
    border: 1px solid var(--gov-color-secondary-600);
    margin-top: -1px;
  }

  >ul>li:last-of-type {
    border-radius: 0 0 .5em .5em;
  }
}


.extended-search{

  &>div.time {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &>div  {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      gap: 1em;
      align-items: center;
      margin-bottom: 1rem;

      gov-form-input {
        width: 10em;
      }
    }
  }

  &>div.vdf {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  .flex-justify-end {
    display: flex;
    justify-content: end;
  }
}
