/* Styles are designed to be used to represent lists of datasets, applications, etc ... */

.resource-list {
  /* No styles yet. */
}

.resource-list-item {
  /* No styles yet. */
}

.resource-list-item .description-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
