<gov-grid-item size-sm="12/12">
  <div class="p-2">
    {{#if showTemporal}}
    <div class="flex-row pt-1">
      <div class="pr-2">Temporal coverage :</div>
      <div class="flex-row gap-2">
        {{#if temporalStart}}
        <gov-chip variant="secondary" type="outlined" size="xs">
          <span>from {{temporalStart.label}}</span>
          <gov-button slot="right" variant="secondary" type="outlined"
            wcag-label="Cancel temporal coverage from {{temporalStart.href}}"
            size="xs" type="link" href="{{temporalStart.label}}"
          >
            <gov-icon slot="right-icon" name="x-lg"></gov-icon>
          </gov-button>
        </gov-chip>
        {{/if}}
        {{#if temporalEnd}}
        <gov-chip variant="secondary" type="outlined" size="xs">
          <span>to {{temporalEnd.label}}</span>
          <gov-button slot="right" variant="secondary" type="outlined"
            wcag-label="Cancel temporal coverage to  {{temporalEnd.label}}"
            size="xs" type="link" href="{{temporalEnd.href}}"
          >
            <gov-icon slot="right-icon" name="x-lg"></gov-icon>
          </gov-button>
        </gov-chip>
        {{/if}}
      </div>
    </div>
    {{/if}}
    {{#each items}}
    <div class="flex-row pt-1">
      <div class="pr-2">{{label}} :</div>
      <div class="flex-row gap-2">
      {{#each items}}
        <gov-chip variant="secondary" type="outlined" size="xs">
          <span>{{this.label}}</span>
          <gov-button slot="right" variant="secondary" type="outlined"
            wcag-label="Remove filter for {{this.label}}"
            size="xs" type="link" href="{{this.href}}"
          >
            <gov-icon slot="right-icon" name="x-lg"></gov-icon>
          </gov-button>
        </gov-chip>
      {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</gov-grid-item>
<hr />